MINIO_ENDPOINT="localhost:9000"
MINIO_ACCESS_KEY="minio_access_key"
MINIO_SECRET_KEY="minio_secret_key"

DATA_LAKE_BUCKET = "data-lake"
WAREHOUSE_BUCKET = "data-warehouse"

METADATA_USER='hive'
METADATA_PASSWORD='hive'
METADATA_DB='metastore'
METADATA_URI="thrift://localhost:9083"