MINIO_ENDPOINT="localhost:9000"
MINIO_ACCESS_KEY="minio_access_key"
MINIO_SECRET_KEY="minio_secret_key"

METADATA_USER='hive'
METADATA_PASSWORD='hive'
METADATA_DB='metastore'

SCHEMA_REGISTRY_ENDPOINT="http://localhost:8081"

KAFKA_SERVER="localhost:9021"